In [1]:
import pandas as pd

In [5]:
book_df1 = pd.read_csv('pre_processed_data.csv')
book_df1.head()

                                        comment_text  sentiment
0  started reading catch22 but year read consider...          1
1  way dune written might favorite canticle leibo...          1
2  talked school year ago told class creation hid...          2
3  here thought reading first twothis series defi...          1
4  liked exactly dislikedthats would probably pre...          2

In [12]:
print(book_df1.shape)

(9231, 2)

In [7]:
book_df2 = pd.read_csv('new_preprocessed_data.csv')
book_df2.head()

   Unnamed: 0                                    comment_cleaned  sentiment
0           0  I feel like much much better version Maze Runn...          0
1           1  Totally agree . Ender game one best scifi book...          1
2           2  The Maze Runner trilogy left wholly dissatisfi...          0
3           3  book good I finish hunger game . Their good bo...          1
4           4  James Dashner idea guy , fails miserably execu...          0

In [8]:
book_df2 = book_df2.drop(book_df2.columns[0], axis=1)
book_df2.head()

                                     comment_cleaned  sentiment
0  I feel like much much better version Maze Runn...          0
1  Totally agree . Ender game one best scifi book...          1
2  The Maze Runner trilogy left wholly dissatisfi...          0
3  book good I finish hunger game . Their good bo...          1
4  James Dashner idea guy , fails miserably execu...          0

In [10]:
book_df2 = book_df2.rename(columns = {'comment_cleaned' : 'comment_text'})
book_df2.head()

                                        comment_text  sentiment
0  I feel like much much better version Maze Runn...          0
1  Totally agree . Ender game one best scifi book...          1
2  The Maze Runner trilogy left wholly dissatisfi...          0
3  book good I finish hunger game . Their good bo...          1
4  James Dashner idea guy , fails miserably execu...          0

In [11]:
print(book_df2.shape)

(11981, 2)

In [15]:
book_df = pd.concat([book_df1, book_df2])

In [16]:
book_df.head()

                                        comment_text  sentiment
0  started reading catch22 but year read consider...          1
1  way dune written might favorite canticle leibo...          1
2  talked school year ago told class creation hid...          2
3  here thought reading first twothis series defi...          1
4  liked exactly dislikedthats would probably pre...          2

In [17]:
print(book_df.shape)

(21212, 2)

In [18]:
book_df.to_csv('Book_data.csv', index=False)