In [1]:
import requests
import pandas as pd

In [2]:
url = "http://localhost:8983/solr/tech_products/select?indent=true&q.op=OR&q=viewsonic&rows=20&useParams="

In [3]:
response = requests.get(url)

In [4]:
response_json = response.json()
print(response_json)

{'responseHeader': {'status': 0, 'QTime': 0, 'params': {'q': 'viewsonic', 'indent': 'true', 'q.op': 'OR', 'rows': '20', 'useParams': ''}}, 'response': {'numFound': 1, 'start': 0, 'numFoundExact': True, 'docs': [{'id': 'VA902B', 'name': 'ViewSonic VA902B - flat panel display - TFT - 19"', 'manu': 'ViewSonic Corp.', 'manu_id_s': 'viewsonic', 'cat': ['electronics and stuff2'], 'features': ['19" TFT active matrix LCD, 8ms response time, 1280 x 1024 native resolution'], 'weight': 190.4, 'price': 279.95, 'price_c': '279.95,USD', 'popularity': 6, 'inStock': True, 'store': '45.18814,-93.88541', '_version_': 1795237645975027712, 'manu_exact': 'ViewSonic Corp.', 'price_c____l_ns': 27995, 'name_exact': 'ViewSonic VA902B - flat panel display - TFT - 19"'}]}}

In [3]:
info = pd.ExcelFile("Info.xlsx")
sheet_names = info.sheet_names

In [4]:
post_dataframe = pd.read_excel(info, sheet_names[0])
comment_dataframe = pd.read_excel(info, sheet_names[1])

In [13]:
for i in range(2, len(sheet_names)):
    # Every even-indexed sheet is a POST sheet
    if (i%2 == 0):
        post_dataframe = pd.concat([post_dataframe, pd.read_excel(info, sheet_names[i])])
    else:
        comment_dataframe = pd.concat([comment_dataframe, pd.read_excel(info, sheet_names[i])])

In [17]:
# label all posts in the dataframe as such for filtering when querying
title = pd.Series(["POST"] * len(post_dataframe.index))
post_dataframe["TYPE"] = title
post_dataframe

,id,title,selftext,url,created_utc,num_comments,upvotes,subreddit,TYPE
0,1b5u291,That's Pride and Prejudice for me (the movie m...,NaN,https://i.redd.it/qv6xfywf37mc1.png,2024-03-03 22:26:34,505,476,RomanceBooks,POST
1,14vrpiu,Pride and Prejudice by you already know who,SPOILERS!! THIS IS YOUR LAST WARNING!!\n\nWhen...,https://www.reddit.com/r/RomanceBooks/comments...,2023-07-10 11:44:50,135,265,RomanceBooks,POST
2,1bde91c,"I was rewatching Pride and Prejudice, I wish t...",NaN,https://i.redd.it/8rm5tdc330oc1.jpeg,2024-03-13 01:00:24,57,466,RomanceBooks,POST
3,1620j2f,The ultimate showdown - what’s your absolute f...,"Help, I’ve fallen down a hyperfixation hole an...",https://www.reddit.com/r/RomanceBooks/comments...,2023-08-26 17:02:23,67,54,RomanceBooks,POST
4,nhb8ky,I just read Pride and Prejudice for the first ...,Edit: Thank you all so so much for the amazing...,https://www.reddit.com/r/RomanceBooks/comments...,2021-05-20 20:54:42,118,429,RomanceBooks,POST
...,...,...,...,...,...,...,...,...,...
221,isw7r,The End of Harry Potter? It’s Hardly Begun,NaN,http://www.bbc.co.uk/news/entertainment-arts-1...,2011-07-18 15:55:52,56,58,books,POST
222,6jwko3,"Harry Potter quiz: 20 years, 20 questions",NaN,https://www.theguardian.com/books/2017/jun/26/...,2017-06-27 23:13:52,36,30,books,POST
223,cponxk,"Harry Potter: Which canon is ""canon?""","When it comes to the canon, if it isn't explic...",https://www.reddit.com/r/books/comments/cponxk...,2019-08-13 05:30:24,23,0,books,POST
224,hlke4,30 books that could be the next Harry Potter,NaN,http://www.totalfilm.com/features/30-books-tha...,2011-05-27 15:24:14,62,29,books,POST
225,4pvpea,"Before Harry Potter, what are some examples of...",What are some examples of a books or series of...,https://www.reddit.com/r/books/comments/4pvpea...,2016-06-26 02:25:22,83,43,books,POST

In [18]:
comment_title = pd.Series(["COMMENT"] * len(comment_dataframe.index))
comment_dataframe["TYPE"] = comment_title
comment_dataframe

,post_id,comment_text,author,created_utc,TYPE
0,1b5u291,And all the Pride and Prejudice fans with stun...,nydevon,2024-03-03 22:29:50,COMMENT
1,1b5u291,I think the 2005 pride and prejudice is just o...,catyfun19,2024-03-04 01:02:36,COMMENT
2,1b5u291,I will just say it took me a minute to underst...,aurynorange5,2024-03-04 02:55:02,COMMENT
3,1b5u291,"I feel this way often. I think for me, a lot o...",SwadlingSwine,2024-03-04 01:22:00,COMMENT
4,1b5u291,So my sis and I love pride and prejudice and o...,AdInside1346,2024-03-04 06:30:07,COMMENT
...,...,...,...,...,...
5294,4pvpea,The books of Taylor Caldwell. In my childhood...,corathus59,2016-06-26 14:48:52,COMMENT
5295,4pvpea,Stephen King is probably the most prolific aut...,Isles86,2016-06-26 20:14:27,COMMENT
5296,4pvpea,**The Bible** -- over 6 billion copies are in ...,NaN,2016-06-26 02:49:36,COMMENT
5297,4pvpea,"Well, I'd like to start out with that I have n...",60_Percent_Dad,2016-06-26 08:03:00,COMMENT
5298,4pvpea,It's not a very good answer to this question. ...,C_Me,2016-06-26 03:32:57,COMMENT

In [27]:
print(comment_dataframe.iloc[0]['created_utc'].to_pydatetime())

2024-03-03 22:29:50

In [31]:
post_dataframe.to_csv("posts.csv", index=False)
comment_dataframe.to_csv("comments.csv", index=False)

# Convert dates to DatePointField format

In [61]:
def convert_time(x): 
    solr_date = x.strftime('%Y-%m-%dT%H:%M:%SZ')
    return solr_date

In [62]:
post_created_utc = post_dataframe['created_utc']
post_created_utc = post_created_utc.apply(convert_time)

In [68]:
post_dataframe['created_utc'] = post_created_utc

In [35]:
post_dataframe = post_dataframe.apply(convert_time, axis=1)

In [69]:
type(post_dataframe.iloc[0]['created_utc'])

str

In [57]:
post_time = post_dataframe['created_utc']
new_post_time = post_time.apply(convert_time)

In [58]:
post_dataframe['created_utc'] = pd.Series(new_post_time,dtype=object)

## Add unique ID to comments

In [7]:
comment_csv = pd.read_csv("comments.csv")
comment_csv

,post_id,comment_num,comment_text,author,created_utc,TYPE
0,1b5u291,1,And all the Pride and Prejudice fans with stun...,nydevon,3/3/2024 22:29,COMMENT
1,1b5u291,2,I think the 2005 pride and prejudice is just o...,catyfun19,3/4/2024 1:02,COMMENT
2,1b5u291,3,I will just say it took me a minute to underst...,aurynorange5,3/4/2024 2:55,COMMENT
3,1b5u291,4,"I feel this way often. I think for me, a lot o...",SwadlingSwine,3/4/2024 1:22,COMMENT
4,1b5u291,5,So my sis and I love pride and prejudice and o...,AdInside1346,3/4/2024 6:30,COMMENT
...,...,...,...,...,...,...
11536,4pvpea,4,The books of Taylor Caldwell. In my childhood...,corathus59,6/26/2016 14:48,COMMENT
11537,4pvpea,5,Stephen King is probably the most prolific aut...,Isles86,6/26/2016 20:14,COMMENT
11538,4pvpea,6,**The Bible** -- over 6 billion copies are in ...,NaN,6/26/2016 2:49,COMMENT
11539,4pvpea,7,"Well, I'd like to start out with that I have n...",60_Percent_Dad,6/26/2016 8:03,COMMENT
11540,4pvpea,8,It's not a very good answer to this question. ...,C_Me,6/26/2016 3:32,COMMENT

In [8]:
comment_csv['id'] = comment_csv['post_id'].astype(str) + "_" + comment_csv['comment_num'].astype(str)

In [9]:
comment_csv

,post_id,comment_num,comment_text,author,created_utc,TYPE,id
0,1b5u291,1,And all the Pride and Prejudice fans with stun...,nydevon,3/3/2024 22:29,COMMENT,1b5u291_1
1,1b5u291,2,I think the 2005 pride and prejudice is just o...,catyfun19,3/4/2024 1:02,COMMENT,1b5u291_2
2,1b5u291,3,I will just say it took me a minute to underst...,aurynorange5,3/4/2024 2:55,COMMENT,1b5u291_3
3,1b5u291,4,"I feel this way often. I think for me, a lot o...",SwadlingSwine,3/4/2024 1:22,COMMENT,1b5u291_4
4,1b5u291,5,So my sis and I love pride and prejudice and o...,AdInside1346,3/4/2024 6:30,COMMENT,1b5u291_5
...,...,...,...,...,...,...,...
11536,4pvpea,4,The books of Taylor Caldwell. In my childhood...,corathus59,6/26/2016 14:48,COMMENT,4pvpea_4
11537,4pvpea,5,Stephen King is probably the most prolific aut...,Isles86,6/26/2016 20:14,COMMENT,4pvpea_5
11538,4pvpea,6,**The Bible** -- over 6 billion copies are in ...,NaN,6/26/2016 2:49,COMMENT,4pvpea_6
11539,4pvpea,7,"Well, I'd like to start out with that I have n...",60_Percent_Dad,6/26/2016 8:03,COMMENT,4pvpea_7
11540,4pvpea,8,It's not a very good answer to this question. ...,C_Me,6/26/2016 3:32,COMMENT,4pvpea_8

In [10]:
cols = comment_csv.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols

['id',
 'post_id',
 'comment_num',
 'comment_text',
 'author',
 'created_utc',
 'TYPE']

In [11]:
comment_csv = comment_csv[cols]

In [12]:
comment_csv.to_csv("comments.csv",index=False)